html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--navy_blue);
}
/* reset styles=============================================================================================== */
ul,
ol,
a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* visually-hidden=============================================================================================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* colors=============================================================================================== */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy_blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light_slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy_blue_modal: #2e2f42;
  --grey: #2e2f42;
  --white: #fff;
  --dairy: #fcfcfc;
}
/* container 🤔=============================================================================================== */

/* navigation 🤩=============================================================================================== */
.header_underline {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header_p {
  /* width: 100%; */
}
/* .nav_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
} */

.logo {
  margin-right: 76px;
  padding: 24px 0 24px 0;
  /* typography */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.part_logo {
  color: var(--navy_blue_modal);
}
.button_phone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_phone:hover,
.button_phone:focus {
  fill: var(--ocean);
}
.nav_pages {
  display: none;
  /* display: flex; */
}

.nav_pages_item {
  margin-right: 40px;
}

.nav_pages_item:last-child {
  margin-right: 0;
}
/* .nav_pages:last-child {
  margin-right: 0;
} */
.nav_pages_item_link {
  padding: 24px 0;
  /* typography */
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.curentn {
  position: relative;
  color: var(--ocean);
}

.curentn::after {
  content: "";
  left: 0px;
  bottom: -1px;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  display: block;
  width: 100%;
  opacity: 1;
}

.nav_address_table {
  /* display: flex; */
  display: none;
}
.nav_address_li:last-child {
  margin-right: 0;
}
.nav_address_li {
  margin-right: 40px;
}
.nav_address_item {
  padding: 24px 0;
  /* typography */
  font-style: normal;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* made all the nav hover 😁=============================================================================================== */

.nav_pages_item_link:hover,
.nav_pages_item_link :focus,
.nav_address_item:hover,
.nav_address_item:focus {
  color: var(--ocean);
}

/* hero 😞 ======================================================================================*/
.hero {
  padding: 72px 52px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 768px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.hero_title {
  display: block;
  margin: 0 auto 48px auto;
  max-width: 496px;
  /* typography */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  color: var(--white);
}
.hero_button {
  display: block;
  padding: 16px 32px;
  user-select: none;
  min-width: 169px;
  margin: 0 auto;
  /* typography */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  /* visual  */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_button:hover,
.hero_button:focus {
  background-color: var(--ocean);
  /* outline: none; */
}
/* features 😎 ======================================================================================*/

.features {
  padding: 96px 0;
}
.feature_table {
  display: flex;
  flex-direction: column;
}
.feature_item {
  text-align: start;
  width: 100%;
  margin-bottom: 72px;
}

.feature_svg {
  display: none;
}
.feature_header {
  margin-bottom: 8px;
  /* typography; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.feature_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Our Team 🫠======================================================================================*/
.team {
  width: 100%;
  background-color: var(--cloud);
  padding: 96px 0;
}
.team_header {
  margin-bottom: 72px;
  /* typogrphy */

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy_blue);
}
.team_table {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.team_item {
  margin-bottom: 72px;
  border-radius: 0 0 4px 4px;
  width: 264px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team_item:last-child {
  margin-bottom: 0;
}

.team_item_image {
  display: block;
}

.team_worker {
  padding: 32px 0;
}
.team_item_header {
  margin-bottom: 8px;
  /* typogrphy */

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy_blue);
}
.team_item_post {
  margin-bottom: 8px;
  /* typogrphy */

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
}
.team_social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team_social_item {
  width: 40px;
  height: 40px;
}
.team_social_item:last-child {
  margin-right: 0;
}

.team_social_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team_social_item_link:hover,
.team_social_item_link:focus {
  background-color: var(--ocean);
}
.team_social_svg {
  fill: var(--cloud);
}
/* Portfolio 🫣 ======================================================================================*/
.portfolio {
  padding: 96px 0;
}

.portfolio_header {
  /* typogrphy */
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy_blue);
}
.portfolio_table {
  display: flex;
  flex-wrap: wrap;
}
.porfolio_item {
  width: 100%;
  margin-bottom: 48px;
  background-color: var(--white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio_item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.porfolio_item_image {
  overflow: hidden;
  position: relative;
}

.porfolio_item_layer_par {
  display: none;
  /* padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 300px;
  background-color: var(--iris);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .porfolio_item:hover .porfolio_item_layer_par {
  transform: translatey(0%);
} */

/* .porfolio_item:nth-child(3n) {
  margin-right: 0;
} */
/* .porfolio_item:nth-child(n + 4) {
  margin-bottom: 0px;
} */

.portfolio_photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.app_data_container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio_item_header {
  margin-bottom: 8px;
  /* typogrphy */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy_blue);
}
.portfolio_item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* footer🤕  ======================================================================================*/
.footer {
  padding: 96px 0;
  background-color: var(--navy_blue);
}
.footer_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_describe {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_f {
  display: inline-block;
  margin-bottom: 16px;
  /* typography */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.part_logo_f {
  color: var(--cloud);
}

.footer_paragraph {
  width: 264px;
  /* typugraphy */

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.footer_social_p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.social_link_item_f {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_flex_f {
  display: flex;
  gap: 16px;
}

.social_item_f:last-child {
  margin-right: 0;
}
.footer_social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_social_links:hover,
.footer_social_links:focus {
  background-color: var(--green);
}
.footer_social_svg {
  fill: var(--cloud);
}
.form_container {
  text-align: center;
}
.form_f_par {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.form_f_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.f_form_input {
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  /* typogr */
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  outline: none;
}

.f_form_input::placeholder {
  color: var(--white);
}

.f_form_buttn {
  border-radius: 4px;
  cursor: pointer;
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: var(--iris);
  border: none;

  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.f_form_buttn:hover {
  background-color: var(--ocean);
}
.f_button_form_span_svg {
  margin-left: 16px;
  fill: var(--white);
}
/* MODAAL🤕  ======================================================================================*/

.modal_overlay {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;

  transform: scale(0);
  background-color: var(--dairy);
  width: 408px;
  min-height: 584px;
  overflow-y: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.open {
  opacity: 1;
  pointer-events: visible;
  transform: scale(1);
}

.open .modal {
  transform: scale(1);
}
.modal_btn_close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}
.modal_btn_close:hover {
  background-color: #404bbf;
  border: none;
}
.modal_close_svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_btn:hover,
.modal_btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal_btn:hover .modal_close_svg,
.modal_btn:focus .modal_close_svg {
  fill: var(--white);
}
.modal_par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy_blue);
  margin-bottom: 16px;
}
.modal_form {
  margin-bottom: 8px;
}
.modal_forml {
  margin-bottom: 16px;
}

.modal_form_label {
  font-size: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal_form_input_container {
  position: relative;
  margin-bottom: 8px;
}
.modal_form_input_container:focus-within {
  fill: var(--iris);
}
.modal_form_input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_form_input:focus {
  border-color: #4d5ae5;
}
.modal_form_svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_textarea {
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  resize: none;
}
.modal_textarea:focus-within {
  border-color: var(--iris);
}
.checkbox_container {
  margin-bottom: 24px;
}
.modal_form_label_check {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light_slate);
}
.modal_form_label_check > .modal_label_checked_link {
  text-decoration: underline;
  color: var(--iris);
}
.modal_label_span {
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;
}
.modal_label_span_svg {
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_checkbox_input:checked + .modal_form_label_check .modal_label_span,
.modal_checkbox_input:checked + .modal_form_label_check .modal_label_span_svg {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}
.modal_checkbox_input:focus + .modal_form_label_check .modal_label_span {
  outline: 1px solid var(--ocean);
}
.modal_button {
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: var(--iris);
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.modal_button:hover {
  background-color: var(--ocean);
}

/* MODAL PHONE--------------------------------------------------------------------- */

.modal_phone_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 150vh;
  opacity: 0;
  pointer-events: none;
}
.modal_container {
  margin-left: 16px;
}
.open_phone_modal {
  opacity: 1;
  pointer-events: fill;
}
.modal_phone_menu {
  margin: 72px 0 165px 0;
}
.modal_phone_item {
}
.modal_phone_item_link {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 20px 0 20px 0;
}
.modal_phone_item_link:hover {
  color: #404bbf;
}

.modal_phone_addr_link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.active {
  color: #404bbf;
}
.modal_phone_addr {
  margin-bottom: 50px;
}
.modal_phone_addr_item {
}
.modal_phone_addr_link {
  display: inline-block;
  padding: 24px 0 24px 0;
}
.modal_phone_addr_link:hover {
  color: #404bbf;
}
.active {
}
.team_social_p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
/* adaptive display =================================================================*/
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.phone_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* tablet======================================================================================================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* desktop======================================================================================================== */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* navigation 🤩=============================================================================================== */
  .header_underline {
    width: 100%;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin-right: 76px;
    padding: 24px 0 24px 0;
    /* typography */
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
  }
  .part_logo {
    color: var(--navy_blue_modal);
  }
  .nav_pages {
    display: none;
    display: flex;
  }

  .nav_pages_item {
    margin-right: 40px;
  }

  .nav_pages_item:last-child {
    margin-right: 0;
  }
  /* .nav_pages:last-child {
  margin-right: 0;
} */
  .nav_pages_item_link {
    padding: 24px 0;
    /* typography */
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .curentn {
    position: relative;
    color: var(--ocean);
  }

  .curentn::after {
    content: "";
    left: 0px;
    bottom: -1px;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
    display: block;
    width: 100%;
    opacity: 1;
  }

  .nav_address_table {
    display: flex;
    flex-direction: row;
  }
  .nav_address_li:last-child {
    margin-right: 0;
  }
  .nav_address_li {
    margin-right: 40px;
  }
  .nav_address_item {
    padding: 24px 0;
    /* typography */
    font-style: normal;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button_phone {
    display: none;
  }
  /* hero 😞 ======================================================================================*/
  .hero {
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .hero_title {
    display: block;
    margin: 0 auto 48px auto;
    max-width: 496px;
    /* typography */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
  }
  .hero_button {
    display: block;
    padding: 16px 32px;
    user-select: none;
    min-width: 169px;
    margin: 0 auto;
    /* typography */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    /* visual  */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero_button:hover,
  .hero_button:focus {
    background-color: var(--ocean);
    /* outline: none; */
  }
  /* features 😎 ======================================================================================*/

  .features {
    padding: 120px 0;
  }
  .feature_table {
    flex-direction: row;
    display: flex;
  }
  .feature_item {
    text-align: start;
    margin-right: 24px;
    width: 25%;
  }
  .feature_item:last-child {
    margin-right: 0;
  }

  .feature_svg {
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid var(--light_slate);
    border-radius: 4px;
    background-color: var(--cloud);
    height: 112px;
    width: 100%;
    margin-bottom: 8px;
  }
  .feature_header {
    margin-bottom: 8px;
    /* typography; */

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy_blue);
  }
  .feature_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  /* Our Team 🫠======================================================================================*/
  .team {
    width: 100%;
    background-color: var(--cloud);
    padding: 120px 0;
  }
  .team_header {
    margin-bottom: 72px;
    /* typogrphy */

    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy_blue);
  }
  .team_table {
    display: flex;
    flex-direction: row;
  }
  .team_item {
    margin-right: 24px;
    border-radius: 0 0 4px 4px;
    width: 264px;

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }

  .team_item:last-child {
    margin-right: 0;
    margin-bottom: 72px;
  }

  .team_item_image {
    display: block;
  }

  .team_worker {
    padding: 32px 0;
  }
  .team_item_header {
    margin-bottom: 8px;
    /* typogrphy */

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy_blue);
  }
  .team_item_post {
    margin-bottom: 8px;
    /* typogrphy */

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;
  }
  .team_social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .team_social_item {
    width: 40px;
    height: 40px;
  }
  .team_social_item:last-child {
    margin-right: 0;
  }

  .team_social_item_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team_social_item_link:hover,
  .team_social_item_link:focus {
    background-color: var(--ocean);
  }
  .team_social_svg {
    fill: var(--cloud);
  }

  /* Portfolio 🫣 ======================================================================================*/
  .portfolio {
    padding: 120px 0;
  }

  .portfolio_header {
    /* typogrphy */
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy_blue);
  }
  .portfolio_table {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .porfolio_item {
    flex-basis: calc((1128px - 48px) / 3);
    margin-right: 24px;
    margin-bottom: 48px;
    background-color: var(--white);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .porfolio_item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .porfolio_item_image {
    overflow: hidden;
    position: relative;
  }

  .porfolio_item_layer_par {
    display: block;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 300px;
    background-color: var(--iris);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .porfolio_item:hover .porfolio_item_layer_par {
    transform: translatey(0%);
  }

  .porfolio_item:nth-child(3n) {
    margin-right: 0;
  }
  .porfolio_item:nth-child(n + 4) {
    margin-bottom: 0px;
  }

  .portfolio_photo {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .app_data_container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .portfolio_item_header {
    margin-bottom: 8px;
    /* typogrphy */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy_blue);
  }
  .portfolio_item_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
  /* footer🤕  ======================================================================================*/
  .footer {
    padding: 100px 0;
    background-color: var(--navy_blue);
  }
  .footer_flex {
    display: flex;
    align-items: baseline;
  }
  .footer_describe {
    margin-right: 120px;
  }
  .logo_f {
    display: inline-block;
    margin-bottom: 16px;
    /* typography */
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
  }
  .part_logo_f {
    color: var(--cloud);
  }

  .footer_paragraph {
    width: 264px;
    /* typugraphy */

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
  }

  .footer_socials {
    margin-right: 80px;
  }
  .footer_social_p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }
  .social_link_item_f {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social_flex_f {
    display: flex;
    gap: 16px;
  }

  .social_item_f:last-child {
    margin-right: 0;
  }
  .footer_social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer_social_links:hover,
  .footer_social_links:focus {
    background-color: var(--green);
  }
  .footer_social_svg {
    fill: var(--cloud);
  }

  .form_f_par {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
  }
  .form_f_form {
    display: flex;
    gap: 24px;
  }
  .f_form_input {
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    /* typogr */
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);
    outline: none;
  }

  .f_form_input::placeholder {
    color: var(--white);
  }

  .f_form_buttn {
    border-radius: 4px;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: var(--iris);
    border: none;

    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .f_form_buttn:hover {
    background-color: var(--ocean);
  }
  .f_button_form_span_svg {
    margin-left: 16px;
    fill: var(--white);
  }
}
